@inherits LayoutComponentBase

<header class="main-header">
    <div class="container">
        <h1 class="logo">7DTD Server</h1>
        <nav>
            <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="server">Server Status</NavLink>
        </nav>
    </div>
</header>

<main class="content">
    @Body
</main>
